<h1>Categorie <%= params[:id] %></h1>

<table>
  <thead>
    <tr>
      <th>Country</th>
      <th>Region</th>
      <th>Hotel</th>
      <th>Description</th>
      <th>Price</th>
      <th>Avarage Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td><%= trip.land %></td>
        <td><%= trip.region %></td>
        <td><%= trip.hotel %></td>
        <td><%= trip.infos %></td>
        <td><%= number_to_currency trip.preis %></td>
        <td><%= trip.avg_rating %></td>


        <td><%= link_to 'Show', trip %></td>
        <% if can? :manage, @trip %>
        <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
        <td><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :manage, @trip %>
<%= link_to 'New Trip', new_trip_path %>
<% end %>
