<h1> <%= @user.email %> </h1>

<%= form_for(@user) do |u| %>

		<div class="field">
			<%= u.hidden_field :id %>
			<%= u.label :email %><br>
			<%= u.text_field :email %>
		</div>

		<div class="actions">
			<%= u.submit %>
		</div>

<% end %>



